body {
    margin: 0px;
    padding: 0px;
}

.menu-lateral {
    position: fixed;
    background-color: #004166;
    width: 200px;
    height: 100%;
}

.painel-principal {
    position: relative;
    margin-left: 200px;
}

.painel-conteudo {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}

li.links {
   display: inline;
}

li.menu{
    text-decoration-color: white;
}

span.menu-text{
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0px;
}

p {
    position: inherit;
}
