body {
    height: 100%;
    padding: 0;
    background: linear-gradient(to top, #9CC4C4, #6B9F9D, #5C8C8C) fixed;
    background-repeat: no-repeat;
}

a {
    color: #99BFBB;
    text-decoration: none;
}

a:focus, a:hover {
color: #E1EB00;
}

.main-frame {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 12% auto;
    color: #99BFBB;
    background-color: rgb(15, 15, 15);
    max-width: 45.0rem;
    max-height: 80.0rem;
    padding: 5.0rem 2.0rem;
    position: relative;
}

.main-frame > h1 {
    margin: 0;
    font-size: 72pt;
}

ul.navigation-list {
    list-style: none;
}

li.navigation-item {
    color: wheat;
    float: left;
    padding-right: 5pt;
    padding-top: 5pt;
    padding-bottom: auto;
  }